.primary {
  color : "#3668e5";
}

.white {
  color : "#ffffff";
}

.lightred {
  color : "#ca5c5f";
}

.orange {
  color : "#fba84e";
}

.red {
  color : "#df3d3d";
}

.mint {
  color : "#e4f2f0";
}